body {
    margin: 0;
    padding: 50px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://wallpapers.com/images/featured/stardew-background-5nm3af2n23ja2grf.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  
  .container {
    text-align: center;
  }
  
  img {
    max-width: 38%; /* Defina a largura máxima desejada para a imagem */
    height: auto;
  }