body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(https://wallpapers.com/images/featured/stardew-background-5nm3af2n23ja2grf.jpg);
    background-size: cover;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
    font-family: 'Comic Sans MS', cursive;
}

p {
    font-family: 'Comic Sans MS', cursive;
    font-size: 28px;
}
.container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.foto {
    max-width: 400px; /* Define a largura máxima da imagem */
    margin-right: 20px; /* Adiciona uma margem à direita para separar a imagem do conteúdo */
}

.content {
    flex-grow: 1; /* Permite que o conteúdo ocupe o espaço restante */
}

/* Estilos adicionais para o conteúdo, como cor de fundo, bordas, etc. */
